header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    font-weight: 700;
    height: 3rem;
    align-items: center;
    z-index: 99;
    background-color:  transparent;
    transition: ease-in-out 0.5s;
}

header ul li { list-style-type: none; }

header ul li > a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#hamburger-m {
    display: none;
    font-size: 1.5rem;
    z-index: 100;
}

#toggle-menu {
    background: rgba(108, 168, 202);
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
    transition:ease-in-out 0.5s;
}

#toggle-menu-list {
    margin: 3rem 0 1rem 0;
    padding: 0;
    justify-content: space-around;
    height: 90%;
}

.t-header-links {
    color: white;
}

.t-header-links a {
    color: white;

}


@media (max-width: 600px) {
    #desktop-menu-list { display: none; }
    #hamburger-m {display: block; }

    #header {
        justify-content: flex-start;
        padding-left: 1rem;
    }

}