#section-about {
    background-color: rgb(236, 241, 245);
    padding-bottom: 3rem;
}

.plane-flying {
    align-items: center;
    width: 70vw;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    background-color: whitesmoke;
    border-radius: 0.3rem 2rem 0.3rem 2rem;
    box-shadow:  rgb(137, 185, 212) 0px 0px 20px -10px;
}

.flags {
     font-size: 3.5rem;
     width: 58px;
 }

#plane {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    text-align: start;
}

.self-intro-all {
    margin: auto;
    width: 75%;
}

.self-intro-line { line-height: 1.5rem; }
