#home { overflow: hidden;}

.bg {
    width: 100%;
    min-height: 55rem;
    opacity: 0.75;
    margin-top: -20px;
    margin-bottom: -200px;
    z-index: -99;
}

.credit {
    opacity: 0.6;
    bottom: 2px;
    left: 2px;
    font-size: 0.5rem;
    color: white;
    z-index: 1;
}

#intro {
    background: rgba(255,255,255,0.45);
    border: 0.3rem solid rgb(60,60,60);
    border-radius: 1rem;
    z-index: 1;
    left: 50%;
    top: 15rem;
    transform: translateX(-50%);
    width: 55%;
    min-height: 200px;
    text-align: center;
    padding-bottom: 1rem;
}

#intro > h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2.5rem;
    padding: 4.5rem 1rem 0.5rem 1rem;
    text-transform: uppercase;
}

.intro-pic {
    width: 12rem;
    border-radius: 50%;
    background-color: rgb(60,60,60);
    border: 0.3rem solid rgb(60, 60, 60);
    z-index: 1;
    left: 50%;
    top: -8rem;
    transform: translateX(-50%);
}

#intro > p { padding: 0rem 1rem 1rem 1rem; }
#intro > a { padding: 0rem 0.8rem 0rem 0.8rem; }

h2 { 
    font-family: 'Cabin Sketch', cursive; 
    font-size: 2rem; 
    padding: 2rem 0rem 2rem 0rem;
    text-align: center;
}

/* Section: about */

#section-about {
    background-color: rgb(236, 241, 245);
    min-height: 30rem;
    padding: 0 4rem 0 4rem;
}

.plane-flying {
    align-items: center;
    width: 70vw;
    margin: auto;
    margin-bottom: 3rem;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    background-color: whitesmoke;
    border-radius: 0.3rem 2rem 0.3rem 2rem;
    box-shadow:  rgb(137, 185, 212) 0px 0px 20px -10px;
}

.flags {
     font-size: 3.5rem;
     width: 58px;
 }

#plane {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    text-align: start;
}

/* Section: portfolio */

#portfo-cards {
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    padding: 2rem 0.5rem 2rem 0.5rem;
    width: 350px;
}

video {
    opacity: 0.7;
    border: 0px solid #8d8c8c;
    border-radius: 0.5rem;
    box-shadow:  #3c3c3c 0px 0px 20px -10px;
}

.coming-soon {
    width: 250px;
    height: 187.5px;
    background-color: rgb(236, 241, 245);
    border-radius: 0.5rem;
    box-shadow:  rgb(165, 168, 170) 0px 0px 20px -10px;
    margin: auto;
}

.portfo-card-body {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}

.portfo-button {
    margin: auto;
    margin-top: 1rem;
    width: 6rem;
    background: rgb(108, 168, 202);
    border: none;
    border-radius: 5rem;
    padding: 0.5rem;
    color: white;
    font-size: 0.8rem;
}

.portfo-icons {
    vertical-align: super;
    font-size: 0.5rem;
    color: white;
}

.portfo-header { 
    padding: 0 0 0.5rem 0; 
    font-family: 'Cabin Sketch', cursive; 
}

.portfo-description {
    color: #818181;
}

.more {
    display: none;
}

.readmore-button, .readmore-button i {
    margin-top: 0.3rem;
    background: none;
    border: none;
    color: rgb(108, 168, 202);
}

#request-resume {
    margin: auto;
    width: 80%;
    margin-bottom: 2rem;
}

#request-resume > h4 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.1rem;
    color: rgb(34, 94, 129);
    display: inline-block;
    position: relative;
    -webkit-mask-image: linear-gradient(90deg, rgba(35, 62, 78, 0.6) 30%, rgba(34, 69, 90, 1) 50%, rgba(35, 62, 78, 0.6) 70%);
    -webkit-mask-size: 150%;
    animation: shine 2s linear infinite;
}
@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
  }

/* Section: Contact */

#section-contact {
    background-color: rgb(236, 241, 245);
    min-height: 30rem;
    padding: 0 4rem 0 4rem;
} 


/* Extra large devices 1200px and up */
@media (min-width: 1200px) {
    #section-home {
        overflow-y: hidden;
        height: 42rem
    }

    #intro { 
        top: 18rem; 
    }
}

/* Small to medium devices 768px and below but no less than 600px */
@media (max-width: 768px) {

    .bg {
        height: 40rem;
        object-fit: cover;
    }

    #intro { 
        width: 80%; 
        top: 13rem; 
    }

    #intro > a { 
        padding: 1rem; 
        font-size: 1.5rem;
    }

    #section-about {
        padding: 0 3rem 3rem 3rem;
    }

}

/* Extra small devices 600px and below */
@media (max-width: 600px) {
    .bg {
        height: 45rem;
        object-fit: cover;
    }

    #intro { 
        width: 90%; 
        top: 13rem; 
    }

    #intro > a { 
        padding: 1rem; 
        font-size: 1.5rem;
    }

    #section-about {
        padding: 0 2rem 4rem 2rem;
    }
}